*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Jost', sans-serif;
    line-height: 1.6;
    color: #333333;
}

.bold_p {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
}

.info_p {
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
}

$back1: #F8F8FE;
$back2: rgba(127, 118, 231, 0.2);
$back3: rgba(127, 118, 231, 0.5);
$main_color: #5552FF;
$typo_color: #333333;

@mixin button_header{
    padding: 8px 20px;
    border-radius: 8px;
    background-color: $back2;
}

@mixin main_type {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

@mixin button_header_off{
    padding: 8px 20px;
    border-radius: 8px;
    background-color: $back1;
}

.container_preloader {
    display: flex;
    justify-content: center;
}

.sub_container_preloader {
    width: 26px;
}

@import './_index.scss';
@import './_header.scss';
@import './_job-area.scss';
@import './_info-area.scss';
@import './_proj-area.scss';
@import './_banner.scss';
@import './_project.scss';
@import './_banner-ux.scss';
@import './text-area';
@import './nav';

@import './yandex/_index_yand.scss';
@import './yandex/_music_yand.scss';
@import './yandex/banners_yand';
@import './yandex/slider_yand';

@import './skilla/skillaPage';
@import './skilla/modal';
@import './skilla/head-filter';

@import './funsun/homePageFunSun';
@import './funsun/searchFunSun';
@import './funsun/modalFunSun';

@import './card';
@import './smart drive/smart-video';

@import './smart drive/ux-area';
@import './smart drive/ui-area';