.emotion_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    align-self: stretch;
    .emotion-container-area {
        display: flex;
        padding: 15px;
        align-items: center;
        gap: 15px;
        align-self: stretch;
        border-radius: 8px;
        background: var(--back-color, #F8F8FE);
        .emotion-container-img {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 24px;
            height: 24px;
        }
    }
}

.emotion-container-area-happy {
    display: flex;
    padding: 15px;
    align-items: center;
    gap: 15px;
    align-self: stretch;
    border-radius: 8px;
    background: var(--back-color, #fff9ee);
}

.emotion-container-area-confused {
    display: flex;
    padding: 15px;
    align-items: center;
    gap: 15px;
    align-self: stretch;
    border-radius: 8px;
    background: var(--back-color, #f0f8fd);
}

.emotion-container-area-angry {
    display: flex;
    padding: 15px;
    align-items: center;
    gap: 15px;
    align-self: stretch;
    border-radius: 8px;
    background: var(--back-color, #fff1f1);
}