.main_yand {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(240, 240, 240);
    width: 100%;
    position: relative;
    z-index: 10;
    .container_main_yand {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0px;
        gap: 40px;
        .sub_cont_yand {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10px;
            z-index: 10;
            .homeYan_cont {
                margin-top: 50px;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0px;
                max-height: 750px;
                object-fit: cover;
                overflow: hidden;
                .button_watch_yand {
                    position: relative;
                    transform: translate(0px, 620px);
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding: 14px 24px;
                    gap: 8px;
                    background: white;
                    border-radius: 100px;
                    z-index: 1;
                    cursor: pointer;
                    .button_watch_yand_p {
                        font-style: normal;
                        font-weight: 500;
                        font-size: 20px;
                    }
                }
                .boss_anim {
                    transform: translate(0px, -1700px);
                    position: relative;
                    z-index: 0;
                }
                .homeYan_title {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 0px;
                    gap: 25px;
                    .yan_b {
                        font-style: normal;
                        font-weight: 400;
                        font-size: 90px;
                        line-height: 94px;
                        z-index: 1;
                    }
                    .yan_p {
                        font-style: normal;
                        font-weight: 400;
                        font-size: 24px;
                        line-height: 130%;
                        text-align: center;
                        z-index: 1;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 420px) {
    .main_yand {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .container_main_yand {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0px;
            gap: 35px;
            width: 340px;
            .sub_cont_yand {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 10px;
                z-index: 10;
                background: rgb(241, 241, 241);
                width: 115%;
                .homeYan_cont {
                    margin-top: 40px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 0px;
                    width: 340px;
                    max-height: 520px;
                    object-fit: cover;
                    overflow: hidden;
                    .yan_boss {
                        margin-top: 15px;
                        width: 340px;
                    }
                    .button_watch_yand {
                        position: relative;
                        transform: translate(0px, 450px);
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        padding: 10px 18px;
                        gap: 8px;
                        background: white;
                        border-radius: 100px;
                        z-index: 1;
                        cursor: pointer;
                        .button_watch_yand_p {
                            font-style: normal;
                            font-weight: 500;
                            font-size: 14px;
                        }
                    }
                    .boss_anim {
                        transform: translate(0px, -598px);
                        position: relative;
                        width: 420px;
                        z-index: 0;
                    }
                    .homeYan_title {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        padding: 0px;
                        gap: 35px;
                        .yan_b {
                            font-family: 'Roboto';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 30px;
                            z-index: 1;
                            line-height: 130%;
                        }
                        .yan_p {
                            font-family: 'Roboto';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 18px;
                            line-height: 130%;
                            text-align: center;
                            z-index: 1;
                            width: 260px;
                        }
                    }
                }
            }
        }
    }
}