.slider_yand {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 900px;
    background: white;
    .slider_yand_cont {
        width: 1200px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 120px;
        .slider_yand_img_cont {
            position: absolute;
            margin-bottom: 150px;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            border-radius: 30px;
            .slider_yand_trans {
                z-index: 10;
                position: absolute;
                width: 800px;
                .yand_slider_lottie_trans {
                    transform: translate(-200px, 0px);
                    width: 1200px;
                    border-radius: 30px;
                }
            }
            .slider_yand_img {
                width: 1200px;
                height: 600px;
                overflow: hidden;
                border-radius: 30px;
                color: transparent;
                img {
                    object-fit: cover;
                    height: 100%;
                    position: absolute;
                }
            }
        }
        .slider_yand_text_cont {
            position: absolute;
            transform: translate(-380px, 0px);
            z-index: 2;
        }
        .slider_yand_butt {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            margin-top: 600px;
            .yand_slider_lottie_active {
                position: absolute;
                width: 94px;
            }
            .yand_slider_lottie_click {
                position: absolute;
                width: 94px; 
            }
            .butt_yand_slider_black {
                position: absolute;
                cursor: pointer;
                background: #242424;
                border-radius: 99px;
                width: 80px;
                height: 38px;
            }
            .butt_yand_slider_red {
                position: absolute;
                cursor: pointer;
                background: #991823;
                border-radius: 99px;
                width: 80px;
                height: 38px;
            }
            .butt_yand_slider_blue {
                position: absolute;
                cursor: pointer;
                background: #27279C;
                border-radius: 99px;
                width: 80px;
                height: 38px;
            }
            .butt_yand_slider_white {
                position: absolute;
                cursor: pointer;
                background: #E3D2C3;
                border-radius: 99px;
                width: 80px;
                height: 38px;
            }
        }
    }
}

.slider_yand_text {
    display: flex;
    flex-direction: column;
    margin-top: 280px;
    width: 240px;
    gap: 20px;
    .slider_yand_red_limit {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #CC0400;
        width: 200px;
        height: 30px;
        color: white;
        border-radius: 99px;
        font-family: 'Roboto';
        font-weight: 400;
        padding-top: 4px;
        font-size: 15px;
        line-height: 125%;
        letter-spacing: 0.02em;
    }
    .slider_yand_p_light {
        color: white;
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 16px;
        line-height: 125%;
        letter-spacing: 0.02em;
    }
    .slider_yand_red_button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px 75px;
        border: 1.21px solid #FFFFFF;
        border-radius: 99px;
        cursor: pointer;
        margin-top: 20px;
        p {
            color: white;
            font-size: 22px;
            font-family: 'Roboto';
            font-weight: 400;
            line-height: 125%;
        }
    }
}

@media only screen and (max-width: 420px) {
    .slider_yand {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 500px;
        background: white;
        .slider_yand_cont {
            margin-top: 50px;
            width: 340px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 90px;
            .slider_yand_img_cont {
                position: absolute;
                margin-bottom: 100px;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                border-radius: 30px;
                .slider_yand_trans {
                    z-index: 10;
                    width: 340px;
                    .yand_slider_lottie_trans {
                        transform: translate(-0px, -160px);
                        width: 640px;
                        position: absolute;
                    }
                }
                .slider_yand_img {
                    width: 340px;
                    height: 310px;
                    overflow: hidden;
                    border-radius: 30px;
                    img {
                        transform: translate(-70px, -70px);
                        object-fit: cover;
                        height: 130%;
                    }
                }
            }
            .slider_yand_text_cont {
                position: absolute;
                transform: translate(-30px, -125px);
            }
            .slider_yand_butt {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;
                margin-top: 360px;
                .yand_slider_lottie_active {
                    position: absolute;
                    width: 84px;
                }
                .yand_slider_lottie_click {
                    position: absolute;
                    width: 84px; 
                }
                .butt_yand_slider_black {
                    position: absolute;
                    cursor: pointer;
                    background: #242424;
                    border-radius: 99px;
                    width: 66px;
                    height: 34px;
                }
                .butt_yand_slider_red {
                    position: absolute;
                    cursor: pointer;
                    background: #991823;
                    border-radius: 99px;
                    width: 66px;
                    height: 34px;
                }
                .butt_yand_slider_blue {
                    position: absolute;
                    cursor: pointer;
                    background: #27279C;
                    border-radius: 99px;
                    width: 66px;
                    height: 34px;
                }
                .butt_yand_slider_white {
                    position: absolute;
                    cursor: pointer;
                    background: #E3D2C3;
                    border-radius: 99px;
                    width: 66px;
                    height: 34px;
                }
            }
        }
    }
    
    .slider_yand_text {
        display: flex;
        flex-direction: column;
        margin-top: 280px;
        width: 220px;
        gap: 20px;
        .slider_yand_red_limit {
            display: flex;
            justify-content: center;
            align-items: center;
            background: #CC0400;
            width: 200px;
            height: 30px;
            color: white;
            border-radius: 99px;
            font-family: 'Roboto';
            font-weight: 400;
            padding-top: 4px;
            font-size: 14px;
            line-height: 125%;
            letter-spacing: 0.02em;
        }
        .slider_yand_p_light {
            color: white;
            font-family: 'Roboto';
            font-weight: 400;
            font-size: 14px;
            line-height: 125%;
            letter-spacing: 0.02em;
        }
        .slider_yand_red_button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 180px;
            height: 50px;
            border: 1.21px solid #FFFFFF;
            border-radius: 99px;
            cursor: pointer;
            margin-top: 20px;
            p {
                color: white;
                font-size: 20px;
                font-family: 'Roboto';
                font-weight: 400;
                line-height: 125%;
            }
        }
    }
}